header {
  background-image: url('/img/header-placeholder-1920px.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 600px;
  width: 100%;
}

.organizers { margin-left: 4rem; }
.organizers p {
  margin: 0.25rem 0;
}

.backoffice h3 { margin-top: 1rem; }
.backoffice p {
  margin: 0.25rem 0;
}
.bg-light-grey { background-color: snow; }

.people a { border-bottom: none !important; }
.btn-cta a { border-bottom: .25rem solid #e25f7d !important; }
.btn-cta a:hover, .people a:hover { box-shadow: none !important; }

section {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 1rem;
  }
}

.intro {  
  margin-top: 3rem;
  text-align: center;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .intro {
    width: 100%;
  }
}

.tickets {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sponsor-us {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1rem solid #73c04f;
}

.content-wrapper {
  margin: 0 auto;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .content-wrapper {
    width: 100%;
  }
}

.sponsors .gaiwan-logo {
  width: 200px;
}

footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #1f1643;
  margin-bottom: 0;
}