header {
  margin-top: 72px;
  background-image: url('/img/header-placeholder-1920px.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 600px;
  width: 100%;
}

.default-page {
  margin-top: 8rem;
}


section {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 1rem;
  }
}

.intro {  
  margin-top: 3rem;
  text-align: center;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .intro {
    width: 100%;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .content-wrapper {
    width: 100%;
  }
}

.tickets {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cfp-link {
  margin-top: 2rem;
}

.sponsor-us {
  background-image: url('/img/sponsor-bg-light.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  padding-bottom: 4rem;
}

.highlights {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.img-highlight {
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid rgba(255, 255, 255, .5); 
}

.sponsors .gaiwan-logo {
  width: 200px;
}

footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #1f1643;
  margin-bottom: 0;
}

.organizers { margin-left: 4rem; }
.organizers p {
  margin: 0.25rem 0;
}

.bg-light-grey { background-color: snow; }

.people a { border-bottom: none !important; }
.btn-cta a { border-bottom: .25rem solid #e25f7d !important; }
.btn-cta a:hover, .people a:hover { box-shadow: none !important; }