header {
  margin-top: 72px;
  background-image: url('/img/header-placeholder-1920px.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 600px;
  width: 100%;
}

.default-page {
  margin-top: 8rem;
}


section {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 1rem;
  }
}

.intro {
  margin-top: 3rem;
  text-align: center;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .intro {
    width: 100%;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 60vw;
}

@media only screen and (max-width: 600px) {
  .content-wrapper {
    width: 100%;
  }
}

.tickets {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cfp-link {
  margin-top: 2rem;
}

.sponsor-us {
  background-image: url('/img/sponsor-bg-light.jpg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  width: 100%;
  padding-bottom: 4rem;
}

.highlights {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 4rem;
  /* grid-gap: 2rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  justify-content: center;
}

.highlights > a {
  width: 220px;
  height: 220px;
}

.img-highlight {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
  border: 10px solid rgba(240, 240, 240, .5);
  background: white;
  justify-self: center;
  max-height: 220px;
}

.sponsors {
  background-color: #ebe8f1;
}

.organizers .gaiwan-logo {
  width: 200px;
}

footer {
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #1f1643;
  margin-bottom: 0;
}

footer p {
  color: white;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-column {
  display: inline-flex;
  flex-direction: column;
}

.bg-light-grey { background-color: snow; }

.people a { border-bottom: none !important; }
.btn-cta a { border-bottom: .25rem solid #e25f7d !important; }
.btn-cta a:hover, .people a:hover { box-shadow: none !important; }
