:where(html) {
  --black: hsl(196, 11%, 19%);
  --pink-1: hsl(346, 67%, 72%);
  --pink-2: hsl(346, 69%, 63%);
  --pink-3: hsl(345, 84%, 64%);
  --pink-4: hsl(347, 56%, 55%);
  --pink-5: hsl(348, 50%, 50%);
  --pink-6: hsl(348, 51%, 45%);
  --pink-alpha: rgba(226, 96, 126, 0.05);
  --pink: var(--pink6);
  --purple: hsl(252, 51%, 17%);
}


/* Pink base  */
.pink { color: var(--pink); }
.bg-pink { background-color: var(--pink-6); }
.b--pink { border-color: var(--pink-6); }
.hover-pink:hover, .hover-pink:focus { color: var(--pink-6); }
.hover-bg-pink:hover, .hover-bg-pink:focus { background-color: var(--pink-6); }

/* Pink tint 60 */
.pink-t60 { color: var(--pink-2); }
.bg-pink-t60 { background-color: var(--pink-2); }
.b--pink-t60 { border-color: var(--pink-2); }
.hover-pink-t60:hover, .hover-pink-t60:focus { color: var(--pink-2); }
.hover-bg-pink-t60:hover, .hover-bg-pink-t60:focus { background-color: var(--pink-2); }

.hoc-black { color: var(--black); }
.bg-hoc-black { background-color: var(--black); }
.b--hoc-black { border-color: var(--black); }
.hover-hoc-black:hover, .hover-hoc-black:focus { color: var(--black); }
.hover-bg-hoc-black:hover, .hover-bg-hoc-black:focus { background-color: var(--black); }

.bg-translucent-pink {
  background-color: var(--pink-alpha);
}

.bg-translucent-pink-05 {
    background-color: var(--pink-alpha);
}
