.email-wrapper {
  max-width: 600px;
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .checkbox-wrapper {
    text-align: left;
    margin-top: .5rem;
  }
}

input {
  width: 100%;
  background-color: #ebe8f0;
  padding: 1rem;
  border-radius: .5rem;
  margin: .5rem;
  border: 0;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  accent-color: #f0567d;
}