#signup-form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #cdecff;
  align-items: center;
}

#signup-form h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}
