input {
  background-color: #ebe8f0;
  padding: 1rem 2rem;
  border-radius: .5rem;
  margin: 1rem .5rem;
  border: 0;
}  

#signup-form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
}

#signup-form h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}
