#speakers {
  --avatar-size: 6rem;
  @media screen and (min-width: 80em) {
    width: 60vw;
  }
  ul {
    padding:0;
    @media screen and (min-width: 50em) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  li {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: left;
    line-height: 2em;
  }
  /* li:nth-child(2n) { */
  /*   flex-direction: row-reverse; */
  /* } */
  h3 {
    font-size: 2rem;
    margin: 0;
  }
  a:not(:hover) {
    color: var(--black);
    text-decoration: none;
  }
}
