nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    display: flex;
    background-color: #1f1643;
}

.nav-up { top: -120px; }

.nav-bar { display: none; }
.nav-menu { display: block; }
.nav-menu-options { display: none; }

.nav-menu-items {
    display: flex;
    width: 100vw;
    padding-right: .5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
}

.menu-options {
    display: flex;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
}

/* Show Menu Options */
.nav-menu:hover .nav-menu-options {
    display: block;
    position: absolute;
    left: 0;
    width: 100vw;
    padding: .5rem 0;
    font-weight: bold;
    background-color: #1f1643;
}

.nav-menu .nav-menu-options a:hover {
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 52em) {
    .nav-menu { display: none; }
    .nav-bar {
      display: block;
      max-height: 72px;
      background-color: #1f1643;
    }

    .nav-items {
        display: flex;
        align-items: center;
        transition: 0.1s;
    }

    .nav-items a.nav-item {
        font-weight: bold;
        color: white;
        margin: 0 .5rem;
        padding: 1.5rem 1rem;
    }

    .nav-bar a.nav-item:hover, .nav-bar a.nav-item:focus, .nav-bar a.nav-item:active {
      color: #f0567d
    }
}
