---
layout: front_page
title:  "Heart of Clojure"
permalink: /
---

<section class="intro">
  <h1>Heart of Clojure 2024</h1>
  <p class="lead">We're back, baby! Five years after the legendary first edition, Heart of Clojure returns to Leuven, Belgium. Mark your calendars:</p>
  <h2 class="accent">September 18 & 19</h2>
  <p class="lead">Two days filled with talks, workshops, fun activities, waffles and beyond. 
    This year we have not one but two venues: <a class="inline-link" href="https://www.hetdepot.be/">Het Depot</a> &#40;an old cinema turned music
    venue&#41; and <a class="inline-link" href="https://www.hal5.be/">Hal5</a> &#40;a converted railroad
    workshop&#41;. Both are a few minutes walk away from the Leuven train station.</p>
  <p class="button-link-wrapper">
    <a class="button-link" target="_blank" href="https://ti.to/heart-of-clojure/2024">Get your Ticket</a>
  </p>
  <p>Or find out if you are eligible for a <a class="inline-link" href="#diversity-ticket">Diversity ticket</a>.</p>
</section>

<section class="cfp">
  <div class="content-wrapper">
    <h2>Call for Papers ...is closed!</h2>
    <p class="lead">We're finalizing our program and announcing speakers very soon.</p>
  </div>
</section>

<section id="newsletter" class="newsletter">
  <div class="content-wrapper">
    <form onsubmit="subscribe(event)" id="signup-form">
      <h2>Stay up to date!</h2>
      <div class="email-wrapper">
        <input type="email" id="email" name="email" placeholder="Your email address" required/>
        <div class="checkbox-wrapper">
          <input type="checkbox" id="updates" name="updates" class="checkbox"/>
          <label for="updates" class="label">Also sign up for the <a class="inline-link" href="https://gaiwan.co/" target="_blank">Gaiwan</a> newsletter.</label>
        </div>
      </div>
      <div class="button-link-wrapper">
        <input type="submit" value="Subscribe" class="button-link">
      </div>

    </form>
    <div class="success" style="display: none;">
      <div class="input-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" fill="#ffffff" class="h2 w2 mr2">
          <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
        </svg>
        <h2>Check your email!</h2>
      </div>
      <p>Please confirm your subscription by clicking on the link in your inbox. If it doesn't arrive within 5 minutes, check your spam folder.</p>
    </div>
    <div class="error" style="display: none;">
      <div class="input-wrapperr">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" fill="#ffffff" class="h2 w2 mr2">
          <path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
        </svg>
        <h2>Oops, something went wrong</h2>
      </div>
      <p>Please try again later. If the problem persists, contact <a class="inline-link"  href="mailto:contact@gaiwan.co" target="_blank">contact@gaiwan.co</a>.</p>
    </div>
  </div>
</section>

<section id="diversity-ticket">
  <div class="content-wrapper">
    <h2>Diversity Tickets</h2>
    <p class="lead">We strive to create a diverse environment at and around Heart of Clojure. 
      To help underrepresented groups in the tech industry to attend the conference, 
      we offer <span class="accent">free Diversity tickets</span> and, if budget allows, also lodging and travel.</p>
    <p class="lead">Underrepresented people includes, but is not limited to, women and nonbinary individuals, 
      people of color, LGBTQIA+ people, and people with health conditions or impairments.</p>
    <p class="lead">Diversity tickets can be applied for by filling out <a class="inline-link" target="_blank" href="https://oh-my-form.apps.gaiwan.co/form/66214201647ec80023ef9ae1">this form</a>. 
      Your answers will only be used to review eligibility for a free Diversity Ticket. All information will be treated confidentially and will not be passed on to third parties.</p>
    <p class="lead">The form closes <span class="accent"> 31st May</span> and applicants will get a response by 30th June 2024.</p>
  </div>
</section>

<section id="volunteer" class="volunteer">
  <div class="content-wrapper">
    <h2>Volunteer</h2>
    <p class="lead">Heart of Clojure is a conference for, and to a large extent by, the
    community. That means we rely on volunteers to make this event awesome! We
    need help both before and during the event. If you are interested in getting
    involved, then contact us
    at <a class="inline-link" target="_blank" href="mailto:orga@heartofclojure.eu">orga@heartofclojure.eu</a>, and
    tell us what you are interested in, and any relevant skills or experience
    you can bring to the table.</p>
  </div>
</section>

<section id="sponsors" class="sponsors">
  <div class="content-wrapper">
    <h2>Our Sponsors</h2>
    <p>We couldn't be more thankful for an amazing group of companies who are the sole reason
    this event is made possible!</p>
    {% assign gold = site.data.sponsors | where_exp:"s", "s.tier contains 'gold'" %}
    <p class="lead">Gold Sponsors</p>
    <div class="highlights">
    {% for sponsor in gold %}
    <a class="dib v-mid" href="{{sponsor.url}}" target="_blank">
      <img class="img-highlight" src="{{sponsor.img}}" alt="{{sponsor.name}} logo">
    </a>
    {% endfor %}
    </div>

    <br>
    {% assign silver = site.data.sponsors | where_exp:"s", "s.tier contains 'silver'" %}
    <p class="lead">Silver Sponsors</p>
    <div class="highlights">
    {% for sponsor in silver %}
    <a class="dib v-mid" href="{{sponsor.url}}" target="_blank">
      <img class="img-highlight" src="{{sponsor.img}}" alt="{{sponsor.name}} logo">
    </a>
    {% endfor %}
    </div>

    <br>
    {% assign supporting = site.data.sponsors | where_exp:"s", "s.tier contains 'supporting'" %}
    <p class="lead">Supporting Sponsors</p>
    <div class="highlights">
    {% for sponsor in supporting %}
    <a class="dib v-mid" href="{{sponsor.url}}" target="_blank">
      <img class="img-highlight" src="{{sponsor.img}}" alt="{{sponsor.name}} logo">
    </a>
    {% endfor %}
    </div>
  </div>
</section>

<section id="organizers" class="organizers">
  <div class="content-wrapper">
    <p class="lead">Organized by the Gaiwan Team</p>
    <a href="https://gaiwan.co">
      <img class="gaiwan-logo" src="/img/sponsors/gaiwan.png" alt="The Gaiwan Team" />
    </a>
  </div>
</section>

<!-- <section class="mw7 center tc">
     <section class="pv5 ph3">
     <h2 class="tc">Sponsors & Partners</h2>
     <p>If your company is interested in sponsoring this event please don't hesitate to <a mailto="sponsors@heartofclojure.eu">reach out</a>! We've put together a few lovely packages, see them here.</p>
     <a class="dib ma3 link ba br2 bw2 b--pink-t60 hover-bg-pink-t60 hover-white pink-t60 pv3 ph4" href="/Sponsor_Heart_of_Clojure.pdf">Sponsorship Brochure</a>.
     </section>
     </section> -->

