---
layout: front_page
title:  "Heart of Clojure"
permalink: /
---

<section class="intro">
  <h1>Heart of Clojure</h1>
  <p class="lead">We're back, baby! Five years after the legendary first edition, Heart of Clojure returns to Leuven, Belgium.</p>
  <h2 class="accent">September 18 & 19, 2024.</h2>
  <p class="lead">Heart of Clojure will take place
    at <a class="inline-link" href="https://www.hetdepot.be/">Het Depot</a>, a old cinema turned music
    venue, and at <a class="inline-link" href="https://www.hal5.be/">Hal5</a>, a converted railroad
    workshop, both a few minutes walk from the Leuven train station.</p>
</section>

<section id="tickets" class="tickets">
  <p><a class="button-link" target="_blank" href="https://ti.to/heart-of-clojure/2024">Get your Ticket</a>
  </p>
</section>

<section id="sponsor_us" class="sponsor-us">
  <div class="content-wrapper">
    <h2>Sponsor Us</h2>
    <p class="lead">Have a look at our <a class="inline-link" href="/Sponsor_Heart_of_Clojure.pdf">Sponsorship Prospectus</a>. If your company is
    interested in supporting Heart of Clojure, and in being part in one of the
    most exciting events in the Clojure ecosystem, then get in touch at
      <a class="inline-link" target="_blank" href="mailto:orga@heartofclojure.eu">orga@heartofclojure.eu</a>.</p>
  </div>
</section>

<section>
  <div class="content-wrapper">
    <form onsubmit="subscribe(event)" id="signup-form">
      <h2>Stay up to date</h2>
      <div class="form-input">
        <input type="email" id="email" name="email" placeholder="Your email address" required/>
        <input type="submit" value="Subscribe" class="button-link">
      </div>
      <div class="flex items-center">
        <input type="checkbox" id="updates" name="updates" class="w1 h1 pointer mr2"/>
        <label for="updates" class="pointer f5">Also receive the <span class="fw7">Gaiwan</span> team's newsletter</label>
      </div>
    </form>
    <div class="success flex flex-column items-center white bg-black pa4" style="display: none;">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" fill="#ffffff" class="h2 w2 mr2">
          <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/>
        </svg>
        <h2 class="ma0">Now check your email!</h2>
      </div>
      <p class="f5 moon-gray">To complete the signup, click the confirmation link in your inbox. If it doesn't arrive within 5 minutes, check your spam folder.</p>
    </div>
    <div class="error flex flex-column items-center white bg-dark-red pa4" style="display: none;">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" fill="#ffffff" class="h2 w2 mr2">
          <path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
        </svg>
        <h2 class="ma0">Oops, something went wrong</h2>
      </div>
      <p class="f5 light-gray">Please try again later. If the problem persists, contact <a class="fw7 light-gray" href="mailto:contact@gaiwan.co">contact@gaiwan.co</a>.</p>
    </div>
  </div>
</section>

<!--
<section id="testimonials">
  <img src="/img/tweet.png">
</section> 
-->

<section id="volunteer" class="volunteer">
  <div class="tc mw7 center ph3">
    <h2>Volunteer</h2>
    <p class="lead">Heart of Clojure is a conference for, and to a large extent by, the
    community. That means we rely on volunteers to make this event awesome! We
    need help both before and during the event. If you are interested in getting
    involved, then contact us
    at <a class="inline-link" target="_blank" href="mailto:orga@heartofclojure.eu">orga@heartofclojure.eu</a>, and
    tell us what you are interested in, and any relevant skills or experience
    you can bring to the table.</p>
  </div>
</section>

<section id="sponsors" class="sponsors">
  <div class="content-wrapper">
    <p class="lead">Organized by the Gaiwan Team</p>
    <a class="dib" href="https://gaiwan.co">
      <img class="gaiwan-logo" src="/img/sponsors/gaiwan.png" alt="The Gaiwan Team" />
    </a>
  </div>
</section>

<!-- <div class="mw7 pa3 center lh-copy f4"> -->
<!--   <section class="pv5"> -->
<!--     <h2 class="tc" id="support">Meet our lovely hosts!</h2> -->
<!--     <ul class="list pl0 relative pb4 tc mw6 ph3 center people"> -->
<!--       {% for hosts in site.data.hosts %} -->
<!--       <li class="hide-child dib pa3"> -->
<!--         <a href="{{ hosts.url }}" target="_blank" rel="noopener"> -->
<!--           <img class="w4 br-100 dib" src="{{ hosts.image }}"> -->
<!--           <div class="w-100 absolute child bottom-0 left-0 tc"> -->
<!--             <span class="pink f5">{{ hosts.name }}</span> -->
<!--           </div> -->
<!--         </a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--     <h2 class="tc" id="speakers">... and speakers:</h2> -->
<!--     <ul class="list pl0 pb4 tc mw7 ph3 center people"> -->
<!--         {% assign published = site.data.speakers | where:"public","true" | sort: 'id' %} -->
<!--         {% for speaker in published %} -->
<!--         <li class="dib pa3"> -->
<!--             <a class="link b" href="/program#{{ speaker.id }}"> -->
<!--                 <img class="w4 dib" src="{{ speaker.img }}"> -->
<!--                 <div class="w-100 tc"> -->
<!--                     <span class="db pink f5 w4">{{ speaker.name }}</span> -->
<!--                 </div> -->
<!--             </a> -->
<!--         </li> -->
<!--         {% endfor %} -->
<!--     </ul> -->
<!--     <h2 class="tc" id="support">Our sketchnoters:</h2> -->
<!--     <ul class="list pl0 relative pb4 tc mw6 ph3 center people"> -->
<!--       {% for sketchnoters in site.data.sketchnoters %} -->
<!--       <li class="hide-child dib pa3"> -->
<!--         <a href="{{ sketchnoters.url }}" target="_blank" rel="noopener"> -->
<!--           <img class="w4 br-100 dib" src="{{ sketchnoters.image }}"> -->
<!--           <div class="w-100 absolute child bottom-0 left-0 tc"> -->
<!--             <span class="pink f5">{{ sketchnoters.name }}</span> -->
<!--           </div> -->
<!--         </a> -->
<!--       </li> -->
<!--       {% endfor %} -->
<!--     </ul> -->
<!--   </section> -->
<!-- </div> -->
<!-- <div class="pa5-ns pv5 ph3 bg-light-grey"> -->
<!--   <div class="tc"> -->
<!--       <h1 class="tc mb3">Stay in the loop about <span class="pink-t60">speaker announcements</span> and more...</h1> -->
<!--     <span class="db">✨ Get notified by signing up for our mailing list – we only send delightful news. ✨</span> -->
<!--   </div> -->
<!--   <div class="mw7 ph3 center lh-copy f4"> -->
<!--     <div class="mv5"> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- <section class="mw7 center tc">
     <section class="pv5 ph3">
     <h2 class="tc">Sponsors & Partners</h2>
     <p>If your company is interested in sponsoring this event please don't hesitate to <a mailto="sponsors@heartofclojure.eu">reach out</a>! We've put together a few lovely packages, see them here.</p>
     <a class="dib ma3 link ba br2 bw2 b--pink-t60 hover-bg-pink-t60 hover-white pink-t60 pv3 ph4" href="/Sponsor_Heart_of_Clojure.pdf">Sponsorship Brochure</a>.
     </section>
     </section> -->

<!-- <section id="sponsors" class="pt5"> -->
<!--   <div class="tc mw7 center ph3"> -->
<!--     <h2>Sponsors & Partners</h2> -->
<!--     <p>We couldn't be more thankful for an amazing group of companies who are the sole reason -->
<!--     this event remains affordable.</p> -->
<!--   </div> -->
<!--   <h3 class="mt5 ttu f6 tc">Concrete</h3> -->
<!--   {% assign concrete = site.data.sponsors | where_exp:"s", "s.tier contains 'concrete'" %} -->
<!--   <div class="tc center"> -->
<!--   {% for sponsor in concrete %} -->
<!--   <a class="dib v-mid" href="{{sponsor.url}}"> -->
<!--     <img alt="{{sponsor.name}}" class="ma4" width="270px" src="{{sponsor.img}}" /> -->
<!--   </a> -->
<!--   {% endfor %} -->
<!--   </div> -->
<!--   <h3 class="mt5 ttu f6 tc">Brick</h3> -->
<!--   {% assign brick = site.data.sponsors | where_exp:"s", "s.tier contains 'brick'" %} -->
<!--   <div class="tc mw8 center"> -->
<!--   {% for sponsor in brick %} -->
<!--   <a class="dib" href="{{sponsor.url}}"> -->
<!--     <img alt="{{sponsor.name}}" class="ma4" width="200px" src="{{sponsor.img}}" /> -->
<!--   </a> -->
<!--   {% endfor %} -->
<!--   </div> -->
<!--   <h3 class="mt5 ttu f6 tc">Timber</h3> -->
<!--   {% assign timber = site.data.sponsors | where_exp:"s", "s.tier contains 'timber'" %} -->
<!--   <div class="tc mw8 center"> -->
<!--   {% for sponsor in timber %} -->
<!--   <a class="dib" href="{{sponsor.url}}"> -->
<!--     <img alt="{{sponsor.name}}" class="ma4" width="150px" src="{{sponsor.img}}" /> -->
<!--   </a> -->
<!--   {% endfor %} -->
<!--   </div> -->
<!-- </section> -->
