---
layout: default
title:  "Talks - Heart of Clojure"
permalink: /programme
---
<div class="talks-page">
  <h1><a href="/">Heart of Clojure - Talks & Workshops</a></h1>
  <div class="date-loc">September 18 & 19, Leuven, Belgium.</div>
  {% for talk in site.talks %}
  {% if talk.type == 'Keynote' %}
  {% include talks_page_talk.html %}
  {% endif %}
  {% endfor %}
  
  {% for talk in site.talks %}
  {% if talk.type != 'Keynote' %}
  {% include talks_page_talk.html %}
  {% endif %}
  {% endfor %}
</div>

