<title>{{page.title | default: "Heart of Clojure, 18-19 September, Leuven, Belgium"}}</title>
<meta name="title" content="{{page.title | default: "Heart of Clojure, 18-19 September, Leuven, Belgium"}}">
<meta name="description" content="We are back! 18-19 September, Leuven, Belgium. Don't miss it!">

<!-- Open Graph / Facebook -->
<meta property="og:title" content="Heart of Clojure">
<meta property="og:site_name" content="heartofclojure.eu">
<meta property="og:url" content="https://2024.heartofclojure.eu">
<meta property="og:description" content="We are back! 18-19 September, Leuven, Belgium. Don't miss it!">
<meta property="og:type" content="website">
<meta property="og:image" content="https://2024.heartofclojure.eu/img/opengraph.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://2024.heartofclojure.eu/">
<meta property="twitter:title" content="{{page.title | default: "Heart of Clojure"}}">
<meta property="twitter:description" content="{{ page.og_description | default: "We are back! 18-19 September, Leuven, Belgium. Don't miss it!"}}">
<meta property="twitter:image" content="https://2024.heartofclojure.eu/img/gen.png">
