<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="front-page">
    {% include nav.html %}

    <header>

      <div class="tc mv5">
        <!-- {% if site.cfp_open %} -->
        <!-- <a class="{{site.classsets.button_non_white_bg}} dib" href="{{ site.cfp_url }}">Become a Speaker</a> -->
        <!-- {% endif %} -->
        <!-- {% if site.tickets_enabled %} -->
        <!-- <a class="{{site.classsets.button_non_white_bg}} dib" href="{{ site.tickets_url }}">Get your ticket now!</a> -->
        <!-- {% else %} -->
        <!-- <a class="link ba br2 bw2 f4 b--transparent b white pv3 ph4 mh3 dib">Sold out!</a> -->
        <!-- {% endif %} -->
      </div>
    </header>

    {{ content }}

    {% include footer.html %}
    {% include footer_scripts.html %}
  </body>
</html>
