---
layout: default
---

<div class="talk-page">
  <!-- <img src="{{ page.og-image }}" /> -->

  <h1><a href="/">Heart of Clojure</a></h1>
  <div class="date-loc">September 18 & 19, Leuven, Belgium.</div>

  <h2>{{ page.title }} </h2>
  <div class="talk-type-label"><span>{{page.type}}</span></div>
  <div class="abstract">{{ page.abstract | markdownify}}</div>
  {% if page.description %}
  <div class="description">{{ page.description | markdownify}}</div>
  {% endif %}

  <div class="speakers">
    <h3>Speakers</h3>
    <ul>
      {% for speaker in page.speakers %}
      <li>
        {% include speaker.html %}
        <div>
          <h4>{{speaker.name}}</h4>
          <p>{{speaker.biography | markdownify}}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% include ticket_cta.html %}
  <section id="splash-image">
    <img src="{{ page.image }}" alt="Social media image">
  </section>
</div>
